@import '../font/Politica.css'

html,body
  height 100%
  background $bg-color
  // font-size 14PX !important

input, textarea, img, button, div
  outline none
  -webkit-appearance none

// color-*
.color-bg
  color #F7F8FA

.color-8F9CA2
  color #8F9CA2



// offset-*
.offset-pr-mt-5
  margin-top 5%

.offset-px-mt-5
  margin-top 5PX

.offset-pr-mt-10
  margin-top 10%

.offset-px-mt-10
  margin-top 10PX

// layout-*
.layout-flex-between
  display: flex
  justify-content: space-between
  align-items: center

.layout-flex-center
  display: flex
  justify-content: center
  align-items: center

.layout-flex-around
  display: flex
  justify-content: space-around
  align-items: center