/routes/accounts.js
/routes/alarms.js
/routes/alarms_test.js
/routes/ali_1111.js
/routes/assets.js
/routes/cabinets.js
/routes/capabilities.js
/routes/cards.js
/routes/changes.js
/routes/common.js
/routes/contracts.js
/routes/customers.js
/routes/dcrm.js
/routes/devices.js
/routes/duties.js
/routes/elec_device_group.js
/routes/energy.js
/routes/eops.js
/routes/events.js
/routes/faults.js
/routes/files.js
/routes/incidents.js
/routes/index.js
/routes/locations.js
/routes/models.js
/routes/ocs.js
/routes/opdcom.js
/routes/portal.js
/routes/powers.js
/routes/ppms.js
/routes/projects.js
/routes/reports.js
/routes/risk.js
/routes/risks.js
/routes/scenarios.js
/routes/skills.js
/routes/sso.js
/routes/sso_old.js
/routes/staffs.js
/routes/teams.js
/routes/users.js
/routes/vendors.js
/routes/woescs.js
/routes/sms.js
/routes/cip_sync.js
/routes/cip_news.js

/routes/reports/asset_insp_daily.js
/routes/reports/change_insp_daily.js
/routes/reports/daimler_insp_daily.js
/routes/reports/electric.js
/routes/reports/fault_insp_daily.js
/routes/reports/fm_insp_rpt.js
/routes/reports/fm_insp_daily.js
/routes/reports/ocbc_insp_daily.js
/routes/reports/risk_insp_daily.js
/routes/reports/thsa_insp_daily.js
/routes/reports/incidents_insp_daily.js
/routes/reports/inc_insp_daily.js
/routes/reports/wo_info_report.js

/services/cip_news_service.js
/services/ppm_service.js
app.js
util.js
websocket.js
jpush.js

temp/