html
  height 100%
  
body
  height 100%

input, textarea, img, button, div
  outline none
  -webkit-appearance none

.cube-btn:active::after
  border none !important

::-webkit-scrollbar
  display none

.slideX-enter-active, .slideX-leave-active
    transition transform 0.2s ease-in-out

.slideX-enter, .slideX-leave-to
    transform translateX(100%)

.slideY-enter-active, .slideY-leave-active
  transition transform 0.2s ease-in-out

.slideY-enter, .slideY-leave-to
  transform translate3d(0, 100%, 0)

.cube-toast-icon
  height auto
  margin-right 15px

.cube-pullup-wrapper
  font-size: 16PX;

.cube-action-sheet
  z-index: 101 !important

.list-item
  padding 15px 0
  
  .item-title
    line-height 30PX
    height 60PX
    font-weight 500
    font-size 15PX
    color rgba(0, 0, 0, 0.87)
    overflow hidden
    text-overflow ellipsis
    white-space initial
    display -webkit-box
    -webkit-line-clamp 2
    word-break break-all
  
  .item-element
    display inline-block
    font-size 12PX
    color rgba(0, 0, 0, 0.38)
    margin-right 15px
    padding 15px 0

table.table-bordered
  width 100%

  td,
  th
    font-size $font-size-middle
    vertical-align middle

  thead
    background-color #F3F3F3

  th
    height 72px
    color $font-color-title
    text-align center

  td
    max-width 110px
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    box-sizing border-box
    padding 0 20px
    height 72px

.table-bordered th,
.table-bordered td
  border 2px solid $table-border-color !important
